[submodule "solidity"]
	path = solx-solidity
	url = https://github.com/NomicFoundation/solx-solidity
	branch = main
[submodule "solx-llvm"]
	path = solx-llvm
	url = https://github.com/matter-labs/solx-llvm
	branch = app-mlir
