[submodule "llvm"]
	path = llvm
	url = https://github.com/matter-labs/era-compiler-llvm
	branch = llvm21_improvements
[submodule "solidity"]
	path = solx-solidity
	url = https://github.com/NomicFoundation/solx-solidity
	branch = app-0.8.31
