[build]
rustflags = [
    "-W", "missing_docs",
]
incremental = true

[tools.clippy]
warn = [
    "missing_docs_in_private_items",
]

[target.x86_64-apple-darwin]
rustflags = [
    "-W", "missing_docs",
    "-C", "link-arg=-mmacosx-version-min=11.0",
]

[target.aarch64-apple-darwin]
rustflags = [
    "-W", "missing_docs",
    "-C", "link-arg=-mmacosx-version-min=11.0",
]

[profile.release]
strip = true

[env]
SOLC_PREFIX = { value = "./solx-solidity/build/", relative = true, force = false }
BOOST_PREFIX = { value = "./solx-solidity/boost/lib/", relative = true, force = false }

LLVM_SYS_211_PREFIX = { value = "./target-llvm/target-final/", relative = true, force = false }
MLIR_SYS_210_PREFIX = { value = "./target-llvm/target-final/", relative = true, force = false }
TABLEGEN_210_PREFIX = { value = "./target-llvm/target-final/", relative = true, force = false }

CARGO_BIN_EXE_SOLX = { value = "./target/debug/solx", relative = true, force = false }

[alias]
test-slang = "test -p solx-slang -p solx-mlir -p solx --no-default-features --features slang"
build-mlir = "build --features mlir"
test-mlir = "test -p solx --features mlir"
