name: Deploy docs

on:
  pull_request:
    paths:
      - 'docs/**'
      - 'deploy-docs.yaml'
  workflow_call:

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:

  deploy-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Deploy
        uses: ./.github/actions/deploy-mdbook
        with:
          version: ${{ format('v{0}', github.ref_name) }}
          docs-dir: 'docs'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          enable-tests: true
          deploy: ${{ github.event_name != 'pull_request' }}
          create-latest-symlink: true
