name: Integration Tests

on:
  pull_request:
    types: [labeled, synchronize]

permissions:
  contents: read

# Cancel the workflow if any new changes pushed to a feature branch or the trunk
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -ex {0}

jobs:

  label-check:
    if: contains(github.event.pull_request.labels.*.name, 'ci:integration') && !github.event.pull_request.head.repo.fork
    runs-on: ubuntu-24.04
    steps:
      - run: 'true'

  integration:
    needs: label-check
    runs-on: solx-linux-amd64
    container:
      image: ghcr.io/matter-labs/zksync-llvm-runner@sha256:adcadcafaa4e6604837f6608b7b5628ae429c05f0ddf56ab4e809477721f39e4
      options: -m 110g
    steps:
      - name: Checkout PR
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          submodules: true

      - name: Checkout main
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        continue-on-error: true
        with:
          ref: main
          submodules: true
          path: temp-solx-main

      - name: Checkout submodules (PR)
        run: |
          git config --global --add safe.directory '*'
          git submodule update --init --force --recursive --depth 1 --checkout

      - name: Checkout submodules (main)
        working-directory: temp-solx-main
        continue-on-error: true
        run: |
          git submodule update --init --force --recursive --depth 1 --checkout

      - name: Build LLVM (main)
        uses: ./.github/actions/build-llvm
        continue-on-error: true
        with:
          build-type: Release
          working-dir: 'temp-solx-main'
          enable-assertions: 'false'

      - name: Build solc (main)
        uses: ./.github/actions/build-solc
        continue-on-error: true
        with:
          cmake-build-type: 'Release'
          working-dir: 'temp-solx-main/solx-solidity'

      - name: Fetch dependencies (main)
        working-directory: temp-solx-main
        continue-on-error: true
        run: cargo fetch --locked

      - name: Build solx (main)
        working-directory: temp-solx-main
        continue-on-error: true
        env:
          BOOST_PREFIX: ${{ github.workspace }}/temp-solx-main/solx-solidity/boost/lib
          SOLC_PREFIX: ${{ github.workspace }}/temp-solx-main/solx-solidity/build
        run: cargo build --frozen --release --bin solx

      - name: Build solx-dev and solx-tester (main)
        working-directory: temp-solx-main
        continue-on-error: true
        env:
          BOOST_PREFIX: ${{ github.workspace }}/temp-solx-main/solx-solidity/boost/lib
          SOLC_PREFIX: ${{ github.workspace }}/temp-solx-main/solx-solidity/build
        run: cargo build --frozen --release --bin solx-dev --bin solx-tester

      - name: Build LLVM (PR)
        uses: ./.github/actions/build-llvm
        with:
          build-type: Release
          enable-assertions: 'false'

      - name: Build solc (PR)
        uses: ./.github/actions/build-solc
        with:
          cmake-build-type: Release
          working-dir: 'solx-solidity'

      - name: Fetch dependencies (PR)
        run: cargo fetch --locked

      - name: Build solx (PR)
        env:
          BOOST_PREFIX: ${{ github.workspace }}/solx-solidity/boost/lib
          SOLC_PREFIX: ${{ github.workspace }}/solx-solidity/build
        run: cargo build --frozen --release --bin solx

      - name: Build solx-dev and solx-tester (PR)
        env:
          BOOST_PREFIX: ${{ github.workspace }}/solx-solidity/boost/lib
          SOLC_PREFIX: ${{ github.workspace }}/solx-solidity/build
        run: cargo build --frozen --release --bin solx-dev --bin solx-tester

      - name: Run solx-tester tests (PR)
        id: solx_tester_tests
        continue-on-error: true
        env:
          BOOST_PREFIX: ${{ github.workspace }}/solx-solidity/boost/lib
          SOLC_PREFIX: ${{ github.workspace }}/solx-solidity/build
        run: ./target/release/solx-dev test solx-tester --solidity-compiler ./target/release/solx

      - name: Run solx-tester benchmarks (main)
        id: solx_tester_bench_main
        continue-on-error: true
        working-directory: temp-solx-main
        env:
          BOOST_PREFIX: ${{ github.workspace }}/temp-solx-main/solx-solidity/boost/lib
          SOLC_PREFIX: ${{ github.workspace }}/temp-solx-main/solx-solidity/build
        run: |
          ./target/release/solx-dev test solx-tester \
            --solidity-compiler ./target/release/solx \
            --via-ir --optimizer 'M^B3' \
            --benchmark=../reference-benchmark.json

      - name: Run solx-tester benchmarks (PR)
        id: solx_tester_bench_pr
        continue-on-error: true
        env:
          BOOST_PREFIX: ${{ github.workspace }}/solx-solidity/boost/lib
          SOLC_PREFIX: ${{ github.workspace }}/solx-solidity/build
        run: |
          ./target/release/solx-dev test solx-tester \
            --solidity-compiler ./target/release/solx \
            --via-ir --optimizer 'M^B3' \
            --benchmark=candidate-benchmark.json

      - name: Build benchmark converter
        run: cargo build --frozen --release --bin solx-benchmark-converter

      - name: Run benchmark converter
        if: hashFiles('reference-benchmark.json') != '' && hashFiles('candidate-benchmark.json') != ''
        run: |
          cat reference-benchmark.json \
            | jq '{data: ., project: "solx-tester", toolchain: "00.solx-main"}' > reference.json
          cat candidate-benchmark.json \
            | jq '{data: ., project: "solx-tester", toolchain: "01.solx"}' > candidate.json
          ./target/release/solx-benchmark-converter \
            --output-path solx-tester-report.xlsx reference.json candidate.json

      - name: Upload solx-tester report
        if: always() && hashFiles('solx-tester-report.xlsx') != ''
        id: solx-tester-report
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: solx-tester-report
          path: solx-tester-report.xlsx

      - name: Install Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: '3.13'

      - name: Install Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 25

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@8789b3e21e6c11b2697f5eb56eddae542f746c10 # v1

      - name: Install Yarn
        run: npm install -g yarn bun pnpm

      # Some projects might use hardcoded ssh URLs: force git to use https instead.
      - name: Git https settings
        run: |
          git config --global url."https://github.com/".insteadOf git@github.com:
          git config --global url."https://".insteadOf git://

      - name: Run Hardhat tests
        id: hardhat_tests
        continue-on-error: true
        run: ./target/release/solx-dev test hardhat

      - name: Upload Hardhat report
        if: always() && hashFiles('temp-hardhat-reports/hardhat-report.xlsx') != ''
        id: hardhat-report
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: hardhat-report
          path: ./temp-hardhat-reports/hardhat-report.xlsx

      - name: Run Foundry tests
        id: foundry_tests
        continue-on-error: true
        run: ./target/release/solx-dev test foundry

      - name: Upload Foundry report
        if: always() && hashFiles('temp-foundry-reports/foundry-report.xlsx') != ''
        id: foundry-report
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: foundry-report
          path: ./temp-foundry-reports/foundry-report.xlsx

      - name: Upload event file
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: event-file
          path: ${{ github.event_path }}

      - name: Fail workflow if tests or benchmarks failed
        if: always()
        run: |
          failures=()
          if [ "${{ steps.solx_tester_tests.outcome }}" != "success" ]; then
            failures+=("solx-tester tests")
          fi
          if [ "${{ steps.solx_tester_bench_pr.outcome }}" != "success" ]; then
            failures+=("solx-tester benchmarks (PR)")
          fi
          if [ "${{ steps.hardhat_tests.outcome }}" != "success" ]; then
            failures+=("hardhat tests")
          fi
          if [ "${{ steps.foundry_tests.outcome }}" != "success" ]; then
            failures+=("foundry tests")
          fi
          if [ ${#failures[@]} -ne 0 ]; then
            echo "Failures: ${failures[*]}"
            exit 1
          fi
