name: Slang Tests

on:
  pull_request:
    types: [labeled, synchronize]

permissions:
  contents: read
  pull-requests: write
  checks: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  label-check:
    if: contains(github.event.pull_request.labels.*.name, 'ci:slang') && !github.event.pull_request.head.repo.fork
    runs-on: ubuntu-24.04
    steps:
      - run: 'true'

  slang-unit-tests:
    needs: label-check
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "MacOS x86"
            runner: macos-15-intel
          - name: "MacOS arm64"
            runner: macos-15
          - name: "Linux x86 gnu"
            runner: ubuntu-24.04
            image: ghcr.io/matter-labs/zksync-llvm-runner@sha256:adcadcafaa4e6604837f6608b7b5628ae429c05f0ddf56ab4e809477721f39e4
            target: "x86_64-unknown-linux-gnu"
          - name: "Linux ARM64 gnu"
            runner: ubuntu-24.04-arm
            image: ghcr.io/matter-labs/zksync-llvm-runner@sha256:adcadcafaa4e6604837f6608b7b5628ae429c05f0ddf56ab4e809477721f39e4
            target: "aarch64-unknown-linux-gnu"
          - name: "Windows"
            runner: windows-2025
            target: "x86_64-pc-windows-gnu"
    runs-on: ${{ matrix.runner }}
    container:
      image: ${{ matrix.image || '' }}
    steps:

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          submodules: true

      - name: Checkout submodules
        run: |
          git config --global --add safe.directory '*'
          git submodule update --force --depth=1 --recursive --checkout

      - name: Prepare Windows env
        if: runner.os == 'Windows'
        uses: ./.github/actions/prepare-msys

      - name: Build LLVM
        uses: ./.github/actions/build-llvm
        with:
          build-type: RelWithDebInfo
          enable-assertions: 'true'
          enable-mlir: 'true'

      - name: Free disk space (remove LLVM build artifacts)
        run: |
          echo "Before cleanup:" && df -h .
          rm -rf target-llvm/build-final
          echo "After cleanup:" && df -h .

      - name: Run slang unit tests
        uses: ./.github/actions/rust-unit-tests
        with:
          target: ${{ matrix.target }}
          cargo-test-command: 'test-slang'

  slang-sanitizer:
    needs: label-check
    if: contains(github.event.pull_request.labels.*.name, 'ci:sanitizer')
    runs-on: solx-linux-amd64
    container:
      image: ghcr.io/matter-labs/zksync-llvm-runner@sha256:adcadcafaa4e6604837f6608b7b5628ae429c05f0ddf56ab4e809477721f39e4
      options: -m 110g
    env:
      TARGET: x86_64-unknown-linux-gnu
      RUST_SANITIZER: 'address'
      LLVM_SANITIZER: 'Address'
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          submodules: true

      - name: Checkout submodules
        run: |
          git config --global --add safe.directory '*'
          git submodule update --force --depth=1 --recursive --checkout

      - name: Build LLVM
        uses: ./.github/actions/build-llvm
        with:
          build-type: RelWithDebInfo
          sanitizer: ${{ env.LLVM_SANITIZER }}
          enable-assertions: 'true'
          enable-mlir: 'true'

      - name: Run slang tests with sanitizer
        uses: ./.github/actions/rust-unit-tests
        with:
          target: ${{ env.TARGET }}
          sanitizer: ${{ env.RUST_SANITIZER }}
          cargo-test-command: 'test-slang'
