name: Tests

# Execute workflow for each PR and with each merge to the trunk
on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/*.mdx"
      - "LICENSE"
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/*.mdx"
      - "LICENSE"

permissions:
  contents: read
  pull-requests: write
  checks: write

# Cancel the workflow if any new changes pushed to a feature branch or the trunk
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  constants:
    uses: ./.github/workflows/ci-constants.yaml

  prepare-matrix:
    needs: constants
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set.outputs.matrix }}
    steps:
      - name: Build matrix
        id: set
        env:
          LLVM_IMAGE: ${{ needs.constants.outputs.llvm_runner_image }}
        run: |
          set -euo pipefail
          {
            echo "matrix<<JSON"
            cat <<JSON
{"include":[
{"name":"MacOS x86","runner":"macos-latest-large"},
{"name":"MacOS arm64","runner":"macos-latest-xlarge"},
{"name":"Linux x86 gnu","runner":"solx-linux-amd64","image":"${LLVM_IMAGE}","target":"x86_64-unknown-linux-gnu"},
{"name":"Linux ARM64 gnu","runner":"solx-linux-arm64","image":"${LLVM_IMAGE}","target":"aarch64-unknown-linux-gnu"},
{"name":"Windows","runner":"solx-windows-amd64","target":"x86_64-pc-windows-gnu"}
]}
JSON
            echo "JSON"
          } >> "${GITHUB_OUTPUT}"

  # Check for cargo issues
  cargo-checks:
    needs: constants
    runs-on: solx-linux-amd64
    container:
      image: ${{ needs.constants.outputs.llvm_runner_image }}
    steps:

      - name: Checkout source
        uses: actions/checkout@v5
        with:
          submodules: true

      # This step is required to checkout submodules
      # that are disabled in .gitmodules config
      - name: Checkout submodules
        run: |
          git config --global --add safe.directory '*'
          git submodule update --force --depth=1 --recursive --checkout

      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: "rust-cargo-cache-${{ runner.os }}-${{ runner.arch }}"
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Build LLVM
        uses: ./.github/actions/build-llvm
        with:
          target-env: 'gnu'
          build-type: 'Release'
          enable-assertions: 'false'
          enable-cache: 'true'

      - name: Cargo checks
        uses: ./.github/actions/cargo-check
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

  # Build and run regression tests
  build-and-test:
    needs: prepare-matrix
    strategy:
      fail-fast: false # finalize testing of all targets even if one failed
      matrix: ${{ fromJson(needs.prepare-matrix.outputs.matrix) }}
    runs-on: ${{ matrix.runner }}
    container:
      image: ${{ matrix.image || '' }} # Special workaround to allow matrix builds with optional container
    name: ${{ matrix.name }}
    steps:

      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: true

      # This step is required to checkout submodules
      # that are disabled in .gitmodules config
      - name: Checkout submodules
        run: |
          git config --global --add safe.directory '*'
          git submodule update --force --depth=1 --recursive --checkout

      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: "rust-cargo-cache-${{ runner.os }}-${{ runner.arch }}"
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Prepare Windows env
        if: runner.os == 'Windows'
        uses: ./.github/actions/prepare-msys

      - name: Build LLVM
        uses: ./.github/actions/build-llvm
        with:
          build-type: RelWithDebInfo
          enable-cache: 'true'
          enable-assertions: 'true'
          # TODO: enable MLIR once submodules are switched (also enable-rtti: true)
          # llvm-projects: 'mlir lld'
          llvm-projects: ''

      - name: Building solc
        uses: ./.github/actions/build-solc
        with:
          cmake-build-type: RelWithDebInfo
          working-dir: 'solx-solidity'
          enable-cache: 'true'

      - name: Run tests
        uses: ./.github/actions/rust-unit-tests
        env:
          BOOST_PREFIX: ${{ github.workspace }}/solx-solidity/boost/lib
          SOLC_PREFIX: ${{ github.workspace }}/solx-solidity/build
        with:
          target: ${{ matrix.target || '' }}

  # Special job that allows some of the jobs to be skipped or failed
  # requiring others to be successful
  pr-checks:
    runs-on: ubuntu-latest
    if: always()
    needs:
      - cargo-checks
      - build-and-test
    steps:
      - name: Decide on PR checks
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
